.conversation-wrap
{
		box-shadow: -2px 0 3px #ddd;
		padding:0;
		max-height: 400px;
		overflow: auto;
}
.conversation
{
		padding:5px;
		border-bottom:1px solid #ddd;
		margin:0;

}

.conversation.active
{
		background:lightgray;

}

.message-wrap
{
		box-shadow: 0 0 3px #ddd;
		padding:0;

}
.msg
{
		padding:5px;
		/*border-bottom:1px solid #ddd;*/
		margin:0;
}
.msg-wrap
{
		padding:10px;
		max-height: 58vh;
		overflow: auto;

}

.time
{
		color:#bfbfbf;
}

.send-wrap
{
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		padding:10px;
		/*background: #f8f8f8;*/
}

.send-message
{
		resize: none;
}

.highlight
{
		background-color: #f7f7f9;
		border: 1px solid #e1e1e8;
}

.send-message-btn
{
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 0;

		border-bottom-right-radius: 0;
}

.btn-panel-conversation .btn,.btn-panel-msg .btn
{

		background: #f8f8f8;
}
.btn-panel-conversation .btn:first-child
{
		border-right: 1px solid #ddd;
}

.msg-wrap .media-heading
{
		color:#003bb3;
		font-weight: 700;
}


.msg-date
{
		background: none;
		text-align: center;
		color:#aaa;
		border:none;
		box-shadow: none;
		border-bottom: 1px solid #ddd;
}

.media.conversation{
	cursor:pointer;
}

.media.conversation:hover{
	background:#f5f5f5;
}

.msg-wrap{
	height: 60vh; 
	overflow-y: auto;
}

.message-wrap .msg-close, .message-wrap .msg-sala{
	display: none;
}

.conversation-wrap{
	max-height: 70vh;
	overflow: auto;
}

.media.msg article{
	width:58%;
}

.media.msg article img{
	max-width: 40%;
}

.media.msg article img{
	cursor:pointer;
}

@media screen and (max-width:480px){
	.message-wrap{
		position: fixed;
		left:100vw;
		top:0;
		-webkit-transition: .8s ease-in-out;
		-moz-transition: .8s ease-in-out;
		-ms-transition: .8s ease-in-out;
		-o-transition: .8s ease-in-out;
		transition: .8s ease-in-out;
		background:#fff;
		height:100vh;
	}

	.message-wrap.active{		
		left:0;
		top:0;
		z-index: 10000000;
	}

	.msg-wrap {	    
	    max-height: 100vh;
	    height: 71vh;
	    padding: 70px 10px 10px 10px;
	}

	.msg-close{
		position: fixed;
		top: 10px;
		right: 20px;
		font-size: 26px;
	}

	.message-wrap.active .msg-close, .message-wrap.active .msg-sala{
		display: block;
	}

	.conversation-wrap.active{
		display: none;
	}

	.msg-sala{
		position: fixed;
		top: 0;
		text-align: center;
		width: 100%;
		padding: 20px;
		font-weight: bold;
		background: #eee;
	}
}