/*
    Rojo: # ca2a30;
    Azul: # 36456d;
    Azul2: # 00a0e0;
*/
body {
    color: #999;
    background-color: #f9f9f9;
}

a {
    color: #36456d;
}

div.logo{
	margin-top: 60px;
	text-align: center;
	margin-bottom: 20px;
}

div.logo img{
	width: 50%;
}

h4.card-title{
	color:#36456d;
}
h4.card-title:after {
	content:' ';
    display: block;
    height: 3px;
    background-image: -webkit-linear-gradient(to right, #ca2a30, #ca2a30), -webkit-linear-gradient(to right, #36456d, #36456d), -webkit-linear-gradient(to right, #00a0e0, #00a0e0), -webkit-linear-gradient(to right, #00a0e0, #fff 80%);
    background-image: -moz-linear-gradient(to right, #ca2a30, #ca2a30), -moz-linear-gradient(to right, #36456d, #36456d), -moz-linear-gradient(to right, #00a0e0, #00a0e0), -moz-linear-gradient(to right, #00a0e0, #fff 80%);
    background-image: -o-linear-gradient(to right, #ca2a30, #ca2a30), -o-linear-gradient(to right, #36456d, #36456d), -o-linear-gradient(to right, #00a0e0, #00a0e0), -o-linear-gradient(to right, #00a0e0, #fff 80%);
    background-image: -ms-linear-gradient(to right, #ca2a30, #ca2a30), -ms-linear-gradient(to right, #36456d, #36456d), -ms-linear-gradient(to right, #00a0e0, #00a0e0), -ms-linear-gradient(to right, #00a0e0, #fff 80%);
    background-image: linear-gradient(to right, #ca2a30, #ca2a30), linear-gradient(to right, #36456d, #36456d), linear-gradient(to right, #00a0e0, #00a0e0), linear-gradient(to right, #00a0e0, #fff 80%);
    background-repeat: no-repeat;
    background-position: 0 0, 51px 0, 70px 0, 0 0;
    background-size: 65px 50px, 30px 30px, 30px 30px, 100% 100%;
    margin-top: 9px;
}

.theme-primary .btn-outline.btn-primary {
    color: #FFF;
    background-color: #36456d;
    border-color: transparent;
    padding: 4px 25px;
}

.theme-primary .btn-outline.btn-primary:hover, .theme-primary .btn-outline.btn-primary:active, .theme-primary .btn-outline.btn-primary.active {
    background-color: #00a0e0 !important;
	border-color: #00a0e0 !important;
    color: #ffffff;
}

.theme-primary .btn-primary:hover, .theme-primary .btn-primary:active, .theme-primary .btn-primary:focus, .theme-primary .btn-primary.active {
    background-color: #00a0e0 !important;
	border-color: #00a0e0 !important;
    color: #ffffff;
}

.input-group .input-group-text {    
    background-color: #ffffff;
}

.form-control {    
    border-color: #999;
    background: #f9f9f9;    
    color: #999;
}

.theme-primary .form-control:focus {
    border-color: #36456d;
}

.input-group-text {    
    color: #999;
}

.input-group .input-group-text {    
    border-color: #999;
}

.card-footer {    
    background-color: transparent;
}

.box-footer {
    border-top: 1px solid #999;    
}

.fixed .wrapper, .main-header .logo, .user-panel {
    overflow: initial;
}

.fixed .wrapper, .main-header .logo, .user-panel {
    overflow: initial;
    background: #fff;
}

.card.login .box-footer, 
.card.login .box-body
{    
    padding: 1.5rem 0;
}

.card.login .card-footer{
	padding: 1rem 1.5rem;
}

.dashboardMetricas .box-header{    
    padding: 6px 16px;
    text-align: center;
}

.dashboardMetricas .box-body {
    padding: 0.5rem 1.5rem;    
}

.dashboardMetricas .box-body h2{    
    text-align: center;
    font-style: italic;
    color: #999;
    margin:0;
}

.dashboardMetricas .box-primary .box-header{
    background: #00a0e0;
    color: #fff;
}

.dashboardMetricas .box-secondary .box-header{
    background: #ca2a30;
    color: #fff;
}

.dashboardMetricas .box-tertiary .box-header{
    background: #ca2a30;
    color: #fff;
}

.dashboardMetricas .box-fourth .box-header{
    background: #36456d;
    color: #fff;
}

.theme-primary .dashboardMetricas .box-primary {
    background-color: #FFF !important;
}

.theme-primary .dashboardMetricas .box-secondary {
    background-color: #FFF !important;
}

.light-skin .sidebar-menu > li:hover > a, .light-skin .sidebar-menu > li:active > a, .light-skin .sidebar-menu > li.active > a {
    color: #fff;
    background: #00a0e0;
    border-radius: 2em;
}

.sidebar-menu > li:hover > a > svg, .sidebar-menu > li:active > a > svg, .sidebar-menu > li.active > a > svg {
    color: #fff;
}

.light-skin .sidebar a {
    color: #00a0e0;
    background: #f9f9f9;
    border-radius: 1em;
    margin: 7px 0;
}

.sidebar-menu > li > a > svg {
    color: #00a0e0;
}

.user-profile{
    border-bottom: 1px solid #e2e5ed;
}

.user-profile > div{
    text-align: center
}

.user-profile > div div.image{
    width:130px;
    height:130px;
    overflow:hidden;
    display: inline-block;        
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -ms-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;  
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

.user-profile > div img{
    width: 100%;
}

.user-profile > div .info a{
    color: #36456d;
    font-weight: bold;
}

.content-header .page-title {    
    color: #36456d;
}

.content-header .breadcrumb {
    color: #36456d;
}

.content-header .breadcrumb .breadcrumb-item a {
    color: #36456d;
}

.navbar-custom-menu .navbar-nav > li > a.dropdown-toggle {
    width: auto;
}

.navbar-custom-menu .navbar-nav > li:last-child > a {
    width: auto;
}

.light-skin .main-header .navbar .nav > li > a {
    color: #36456d;
    font-size: 1rem;
}

.light-skin .main-header .navbar .nav > li > a i{    
    font-size: 1.8rem;
}


h3.page-title, .kt-portlet__head-title{
    color: #36456d;
    font-weight:bold;
}

label{
    color: #36456d;
}
header nav .badge-default {
    background-color: #ca2a30;
    color: #fffffb;
}

.header-megamenu .btn-group{    
        align-items: center;
    }

.theme-primary.light-skin .sidebar-menu > li.treeview .treeview-menu li a {
    color: #00a0e0;
}

.sidebar-menu .treeview-menu > li > a:hover {
    opacity: 1;
    background: #00a0e0;
    color:#fff !important;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td, 
.table-bordered > tbody > tr > th{
    border: 1px solid #36456d;
}

.theme-primary .btn-info {
    background-color: #36456d;
    border-color: #36456d;
    color: #ffffff;
}

.theme-primary .btn-info:hover, .theme-primary .btn-info:active, .theme-primary .btn-info:focus, .theme-primary .btn-info.active {
    background-color: #00a0e0 !important;
    border-color: #6a9552 !important;
}

.theme-primary a:hover, .theme-primary a:active, .theme-primary a:focus {
    color: #00a0e0;
}

#fseguimiento .box-body,
#seguimiento .box-body, 
#seguimiento .box-body .box-title,
#seguimiento .box-body p
 {    
    color: #36456d;
}

.theme-primary .nav-tabs .nav-link.active {
    border-bottom-color: #36456d;
    background-color: #36456d;
    color: #ffffff;
}

.nav-tabs .nav-link {
    position: relative;
    color: #36456d;
    padding: 0.5rem 1.25rem;
    border-radius: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 1px solid #d9d9d9;
}

.light-skin .sidebar-menu > li.menu-open > a {
    color: #36456d;
}

.sidebar-menu > li.menu-open > a > svg {
    color: #36456d;
}

.theme-primary .btn-primary {
    background-color: #00a0e0;
    border-color: #00a0e0;
    color: #36456d;
}

.dz-default.dz-message{
    color: #36456d;
}

.theme-primary .btn-danger {
    background-color: #ca2a30;
    border-color: #ca2a30;
    color: #ffffff;
}

.theme-primary .btn-danger:hover, .theme-primary .btn-danger:active, .theme-primary .btn-danger:focus, .theme-primary .btn-danger.active {
    background-color: #b36405 !important;
    border-color: #b36406 !important;
    color: #ffffff;
}

.chzn-container-single .chzn-default {
    color: #999;
    border-radius: 5px;
}

.theme-primary .nav-tabs .nav-link.active:hover, .theme-primary .nav-tabs .nav-link.active:focus {
    border-bottom-color: #0D5A49;
    background-color: #36456d;
    color: #ffffff;
}

.theme-primary .nav > li > a:hover, .theme-primary .nav > li > a:active, .theme-primary .nav > li > a:focus {
    color: #00a0e0;
    background: #e1e1df;
}

.sidebar-collapse .user-profile > div div.image {
    width: 50px;
    height: 50px;
}

.theme-primary .btn-success{    
    background-color: #36456d;
    border-color: #36456d;
    color: #ffffff;
}

.theme-primary .btn-success:hover, .theme-primary .btn-success:active, .theme-primary .btn-success:focus, .theme-primary .btn-success.active {
    background-color: #00a0e0 !important;
    border-color: #00a0e0 !important;
    color: #ffffff;
}

.theme-primary .btn-danger:hover, .theme-primary .btn-danger:active, .theme-primary .btn-danger:focus, .theme-primary .btn-danger.active {
    background-color: #e87272 !important;
    border-color: #e87272 !important;
    color: #ffffff;
}

.flexigrid .dropdown-menu > li > a {
    color: gray;
    display: block;
    padding: 6px;
}

.theme-primary .flexigrid .dropdown-menu a:hover{
    color: #fff;
    background: #00a0e0;    
}

@media screen and (max-width:768px){
	.nav {	    
	    flex-wrap: nowrap;
	}

	.card-img-top {
	    width: 40%;
	}

    .main-sidebar {
        margin-top: 60px;
        padding-top: 0px;
    }

    .main-header .navbar{
        flex-wrap: nowrap;
    }

    .main-header .navbar div{
        display: flex;
    }

    .navbar-custom-menu .navbar-nav li > a.dropdown-toggle {
        padding: 0;
    }

    .navbar-custom-menu .navbar-nav {        
        align-items: baseline;
    }

    
}